@page "/localization/detail"
@using Telerik.Blazor
@using JMCoreTest.Blazor.Shared.Controllers.HttpTestController.Models
@using JMCoreTest.Blazor.Shared.Models
@using JMCore.Client.CQRS.Http
@using JMCore.Client.Services.Http
@using JMCore.Models.BaseRR
@using JMCoreTest.Blazor.Shared.Controllers.HttpTestController
@using Telerik.Blazor.Services
@inherits JMComponentBase
@inject ITelerikStringLocalizer Localizer
<h3>Detail</h3>

<TelerikGrid Height="550px" FilterMode="@GridFilterMode.FilterMenu"
             Sortable="true" Pageable="true" Groupable="true" PageSize="20"
             TItem="@WeatherForecast" OnRead="@ReadItems">
    <GridColumns>
        <GridColumn Field="Id" FieldType="@(typeof(int))" Title="Id" Width="100px" Groupable="false" />
        <GridColumn Field="Date" FieldType="@(typeof(DateTime))">
            <Template>
                @((context as WeatherForecast).Date.ToString("dddd, dd MMM yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="TemperatureC" FieldType="@(typeof(int))" Title="Temp. C" />
        <GridColumn Field="TemperatureF" FieldType="@(typeof(int))" Title="Temp. F" />
        <GridColumn Field="Summary" FieldType="@(typeof(string))" />
    </GridColumns>
</TelerikGrid>

@code {
    async Task ReadItems(GridReadEventArgs args)
    {
        // we pass the request to the service, and there Telerik DataSource Extension methods will shape the data
        // then the service returns our project-specific envelope so that the data can be serialized by the framework
        var result2 = await Mediator.Send(new HttpNonAuthorizedCommand<HttpPostWeatherTestResponse>(ApiMethod.Post, "api/HttpTest/forecast", new HttpPostTestRequest() { Req = args.Request }, typeof(HttpPostTestRequest)));
        var result = result2.Res;

        if (args.Request.Groups.Count > 0)
        {
            var data = GroupDataHelpers.DeserializeGroups<WeatherForecast>(result.GroupedData);
            args.Data = data.Cast<object>().ToList();
        }
        else
        {
            args.Data = result.CurrentPageData.Cast<object>().ToList();
        }

        args.Total = result.TotalItemCount;
    }
}